.container{
	width:70%;
	margin:0 auto;
}
.container .row{
	display:grid;
	gap:20px;
	grid-template-columns:auto auto;
}
.container .row .box{
	border:2px solid crimson;
	padding:25px;
}
@media(max-width:1200px){
	.container .row{
		grid-template-columns:250px auto;
		
	}
	.container .row .box{
		background:gray;
	}
}
@media(max-width:991px){
	.container .row{
		grid-template-columns:auto auto;
		
	}
	
}
@media(max-width:600px){
	.container .row{
		grid-template-columns:auto;
	}
}